<template>
  <div>
    <BaseAlphabetPagination
      :currentLetter="currentLetterPage"
      @setCurrentLetter="setCurrentLetter"
    />
    <BaseTable 
      :tableData="authors"
      :displayColumns="dislayColumns"
    />
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex'
import BaseAlphabetPagination from '@/components/common/BaseAlphabetPagination'
import BaseTable from '@/components/common/BaseTable'

export default {
  name: 'Authors',
  components:{
    BaseAlphabetPagination,
    BaseTable,
  },
  data() {
    return {
      dislayColumns: {
        'id': {
          'columnName': 'ID',
        },
        'name' : {
          columnName: 'Имя',
          onClick(item) {
            const {id} = item;
            this.$router.push({ path: '/', query: { author_id: id } });
          },
        }
      }
    }
  },
  computed: {
    ...mapGetters({
      'authors' : 'pageAuthors/filteredAuthorsList',
      'currentLetterPage' : 'pageAuthors/currentLetterPage',
    })
  },
  methods:{
    ...mapActions({
      'fetchAuthors': 'pageAuthors/fetchAuthors'
    }),
    ...mapMutations({
      'setCurrentLetter' : 'pageAuthors/SET_CURRENT_LETTER_PAGE',
    })
  },
  mounted() {
    this.fetchAuthors();
  }
}
</script>
