<template>
  <div>
    <BaseTable
      :tableData="booktypes"
       :displayColumns="dislayColumns"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import BaseTable from '@/components/common/BaseTable'

export default {
  name: 'Books',
  components:{
    BaseTable,
  },
  data() {
    return {
      dislayColumns: {
        'id': {
          'columnName': 'ID',
        },
        'name' : {
          columnName: 'Имя',
          onClick: (item) => {
            const booktype = item.name;
            this.$router.push({ path: '/', query: { booktype } });
          },
        }
      }
    }
  },
  computed: {
    ...mapGetters({
      'booktypes' : 'pageBooktypes/booktypes',
    })
  },
  methods:{
    ...mapActions({
      'fetchBooktypes': 'pageBooktypes/fetchBooktypes'
    }),
  },
  mounted() {
    this.fetchBooktypes();
  }
}
</script>