
<template>
  <div>
     <BaseTextSearchPanel />
    <div
      @mouseup="onContentMouseUp"
      class="lib-book-page">
      <div v-show="searchMatchesCount > 0" class="search-dark-bg"></div>
      <div
        v-if="authenticated"
        class="quote-saver-panel-container"
        :style="qspStyle">
        <QuoteSaverPanel
          v-show="saveQuotePanelShowed"
          @onSaveQuote="onSaveQuote"
        />
      </div>
      <div
        v-if="book"
        v-html="bookHtml"></div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'
import QuoteSaverPanel from '@/components/common/QuoteSaverPanel';
import BaseTextSearchPanel from '@/components/common/BaseTextSearchPanel';
// import axios from 'axios';
export default {
  name: 'Books',
  components:{
    QuoteSaverPanel,
    BaseTextSearchPanel,
  },
  data() {
    return {
      id: this.$route.params.id,
      saveQuotePanelShowed: false,
      selectedText: null,
      sqpY: 0,
      sqpX: 0,
    }
  },
  computed: {
    ...mapGetters({
      'book': 'pageBook/book',
      'searchMatchesCount': 'pageBook/matchesTotal',
      'bookHtml': 'pageBook/bookHtml',
      'authenticated': 'auth/authenticated',
      'user': 'auth/user',

    }),
    qspStyle() {
      return {
        'top': `${this.sqpY}px`,
        'left': `${this.sqpX}px`
      }
    }
  },
  methods:{
    ...mapActions({
      'fetchBook': 'pageBook/fetchBook',
      'sendQuoteSave': 'pageBook/sendQuoteSave',
    }),
    ...mapMutations({
      'setBookHtml': 'pageBook/SET_BOOK_HTML'
    }),
    onContentMouseUp(e) {
      if (this.saveQuotePanelShowed) return;
      this.selectedText = window.getSelection().toString();
      setTimeout(() => {
        if (this.selectedText) {
          this.handleSaveQuotePanel(e);
        }
      }, 0);

    },
    handleSaveQuotePanel(e) {
      this.sqpY = e.clientY - 35 + window.scrollY;
      this.sqpX = e.clientX;
      this.saveQuotePanelShowed = true;
      this.saveQuotePanelBusy = true;
    },
    onSaveQuote(){
      const author_id = this.book.author_id
      const book_id = this.book.id
      const quote_text = this.selectedText
      const user_id = this.user.id

      const payload = {
        author_id,
        book_id,
        quote_text,
        user_id
      };

      return this.sendQuoteSave(payload).then(()=> {
        this.saveQuotePanelShowed = false;
        this.saveQuotePanelBusy = false;
      })
    },
  },
  mounted() {
    const {id} = this;
    this.fetchBook(id);
    window.addEventListener('click', () => {
      if (this.saveQuotePanelShowed) {
        this.saveQuotePanelShowed = false;
      }
    })
  }
}
</script>

<style lang="scss" scoped>
  .lib-book-page{
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
  }
  .quote-saver-panel-container{
    position: absolute;
  }
  .search-dark-bg{
    transition: .3s all ease;
    height: 100%;
    width: 100%;
    position: absolute;
    background: black;
    opacity: .18;
    top:0;
    left: 0;
    pointer-events: none;
  }


</style>
