<template>
  <div>
    <BaseAlphabetPagination
      :currentLetter="currentLetterPage"
      @setCurrentLetter="onSetCurrentLetter"
    />
    <BaseTable
      :tableData="books"
      :displayColumns="dislayColumns"
      :fetchingStatus="fetchStatus"
    />
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex'
import BaseAlphabetPagination from '@/components/common/BaseAlphabetPagination'
import BaseTable from '@/components/common/BaseTable'

export default {
  name: 'Books',
  components:{
    BaseAlphabetPagination,
    BaseTable,
  },
  data() {
    return {
      dislayColumns: {
        'id': {
          'columnName': 'ID',
        },
        'name' : {
          columnName: 'Имя',
          onClick(item) {
            const {id} = item;
            this.$router.push({ path: `/books/${id}`});
          },
        }
      }
    }
  },
  computed: {
    ...mapGetters({
      'books' : 'pageBooks/filteredBooksList',
      'currentLetterPage' : 'pageBooks/currentLetterPage',
      'booktype' : 'pageBooks/booktype',
      'fetchStatus' : 'pageBooks/fetchStatus',
    })
  },
  methods:{
    ...mapActions({
      'fetchBooks': 'pageBooks/fetchBooks'
    }),
    ...mapMutations({
      'setCurrentLetter' : 'pageBooks/SET_CURRENT_LETTER_PAGE',
      'setbooksList': 'pageBooks/SET_BOOKS_LIST',
      'setBooktypeFilter': 'pageBooks/SET_BOOK_TYPE',
      'setAuthorIDFilter' : 'pageBooks/SET_AUTHOR_ID',
    }),
    onSetCurrentLetter(letter) {
       this.setCurrentLetter(letter);
       this.fetchBooks();
    },
    setfilters() {
      let { booktype, author_id } = this.$route.query;
      if (!booktype) booktype = '';
      if (!author_id) author_id = '';
      if (author_id) this.setCurrentLetter('Все');
      this.setBooktypeFilter(booktype);
      this.setAuthorIDFilter(author_id);
    },
  },
  mounted() {
    this.setfilters();
    this.fetchBooks();
  }
}
</script>
