<template>
  <div class="prf-container">
    <ProfileCreditionals 
      @setCurrentEditField="setCurrentEditField"
    />
    <ProfileEditArea
      :userData="user"
      :editField="currentEditField"
      @onCancel="currentEditField = ''"
    />
  </div>
</template>

<script>

import ProfileCreditionals from '@/components/layout/ProfileCreditionals'
import ProfileEditArea from '@/components/layout/ProfileEditArea'
import { mapGetters } from 'vuex'
export default {
  components:{
    ProfileCreditionals,
    ProfileEditArea,
  },
  computed:{
    ...mapGetters({
      'user': 'auth/user'
    })
  },
  data() {
    return {
      currentEditField: ''
    }
  },
  methods:{
    setCurrentEditField(val) {
      this.currentEditField = val;
    },
  }
}
</script>

<style lang="scss" scoped>
  .prf-container{
    padding: 15px;
    padding-top: 50px;
    max-width: 1024px;
    margin: auto;
  }
</style>