<template>
  <div>
    <div class="quotes">
      <transition-group name="list" tag="div">
        <div
          v-for="(q, i) in quotes"
          :key="`qoute-${q.id}`"
          class="quotes__item mb list-item"
          :class="{'disabled' : quotesPending.includes(q.id.toString())}">
            <div
              @click="onRemove(i)"
              class="quotes__delete">
              <img class="quotes__delete-icon" src="../assets/close.svg" alt="">
            </div>
            {{ q.quote_text }}
          <div class="quotes__author">
            <router-link
              class="lib-link"
              :to="`/?author_id=${q.author.id}`">
              {{ q.author.name }}
            </router-link>  
            -
            <router-link 
              class="lib-link"
              :to="`books/${q.book.id}`">
              {{ q.book.name }}
            </router-link> 
          </div>
        </div>
      </transition-group>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
export default {
  computed: {
    ...mapGetters({
      'quotes': 'pageQuotes/quotes',
      'quotesPending': 'pageQuotes/quotesPending'
    })
  },
  methods: {
    ...mapActions({
      'fetchQuotes' : 'pageQuotes/fetchQuotes',
      'removeQuote' : 'pageQuotes/removeQuote'
    }),
    onRemove(i) {
      this.removeQuote(i);
    }
  },
  mounted() {
    this.fetchQuotes();
  }
}
</script>

<style lang="scss" scoped>
  .quotes{
    overflow: hidden;
    max-width: 100%;
    position: relative;
    &__item{
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 15px;
      padding-top: 32px;
      position: relative;
      background: white;
      &.disabled{
        pointer-events: none;
        opacity: 0.4;
        background: whitesmoke;
      }
    }
    &__author{
      text-align: right;
      font-size: 13px;
      line-height: 13px;
      margin-top: 7px;
    }
    &__bookname{
      text-align: right;
      font-size: 12px;
      line-height: 14px;
      margin-top: 4px;
    }
    &__delete{
      position: absolute;
      right: 15px;
      top: 5px;
      cursor: pointer;
      opacity: .75;
      &-icon{
        width: 10px;
      }
      &:hover{
        opacity: .95;
      }
    }
  }



.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.list-item {
  transition: all .3s;
}

.list-leave-active {
  position: absolute;
  width: 100%;
}

.list-move {
  transition: transform .3s;
}


</style>