<template>
  <div class="lb-search-page">
    <div class="lb-search-page__input-container">
      <input
        class="lb-base-search__input"
        placeholder="Type here..."
        :class="{'disabled': fetching}"
        :value="query"
        @keydown.enter="onStartSearching"
        @input="onQueryChange($event.target.value)"
        type="text">
    </div>

    <div class="lb-search-page-result-block">
      <div
        v-for="item in docs"
        :key="item.id"
        class="lb-search-page-result-block__item">
         <router-link class="lb-search-page-result-block__link" :to="`/books/${item.book_id}`">{{ item.book_name }}</router-link>
        <div class="lb-search-page-result-block__text">Совпадений: {{ item.wordsCount }}</div>
      </div>
    </div>

    <BasePagination
      v-if="resListPageCount"
      :pagesCount="resListPageCount"
      :currentPage="resPageCurrent"
      @onPageChange="onPageItemClick"
    />

  </div>
</template>

<script>
  import { mapState, mapGetters } from 'vuex';
  import BasePagination from '@/components/common/BasePagination'


  export default {
    components:{
      BasePagination,
    },
    computed: {
      ...mapState({
        fetching: state => state.pageSearch.fetching,
        resPageCurrent: state => state.pageSearch.resPageCurrent,
        docs: state => state.pageSearch.docs,
        query: state => state.pageSearch.query,
      }),
      ...mapGetters({
        'resListPageCount': 'pageSearch/paginationCount',
      }),
    },
    methods: {
      onStartSearching() {
        if (this.query.trim() == '') return;
        this.$store.dispatch('pageSearch/onStartSearching');
      },
      onPageItemClick(i) {
        this.$store.dispatch('pageSearch/onChangeCurrentPageNum', i);
      },
      onQueryChange(v) {
        this.$store.commit('pageSearch/SET_SEARCH_QUERY', v);
      }
    },
  };
</script>

<style lang="scss">
  .lb-search-page{
    &__input-container{
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 15px;
      display: flex;
      justify-content: flex-start;
      .lb-base-search__input{
        width: 100%;
        &.disabled{
          color: gray;
          pointer-events: none;
          background: #e4e4e4;
        }
      }
    }
  }
  .lb-search-page-result-block{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    max-height: calc(100vh - 170px);
    overflow: auto;
    margin-bottom: 15px;
    &__item{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 15px;
    }
    &__link{
    }
    &__text{
      font-size: 14px;
    }
  }
</style>