<template>
  <div class="container">
    <FormReg
      @submit="submitForm"
    />
  </div>
</template>

<script>

import FormReg from '@/components/layout/FormReg'
import { mapActions } from 'vuex'

export default {
  components: {
    FormReg
  },

  methods:{
    ...mapActions({
      sendReg: 'auth/newUser'
    }),
    submitForm(creditionals) {
      this.sendReg(creditionals).then(answer => {
        console.log(answer)
      }).catch(e => {
        debugger;
        console.log(e)
      })
    }
  },
}
</script>

<style lang="scss" scoped>

</style>