<template>
  <div>
    <FormSignin
      @submit="login"
    />
  </div>
</template>

<script>

import FormSignin from '@/components/layout/FormSignin'
import { mapActions } from 'vuex'

export default {
  components:{
    FormSignin
  },
  methods:{
    ...mapActions({
      signIn: 'auth/signIn',
    }),
    async login(creditionals) {
      this.signIn(creditionals).then(() => {
        this.$router.replace({
          name: 'Home'
        })
      })
      .catch(() => {
        console.log('failed');
      });
    },
  }
}
</script>