@font-face {
  font-family: 'Lucida Grande';
  src: url('../assets/fonts/LucidaGrande.eot');
  src: url('../assets/fonts/LucidaGrande.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/LucidaGrande.woff2') format('woff2'),
      url('../assets/fonts/LucidaGrande.woff') format('woff'),
      url('../assets/fonts/LucidaGrande.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('../assets/fonts/Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe';
  src: url('../assets/fonts/Segoe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body{
  font-family: 'Segoe', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 24px;
}