.mr{
  margin-right: 16px;
}
.ml{
  margin-left: 16px;
}
.mb{
  margin-bottom: 16px;
}
.mt{
  margin-top: 16px;
}

.mr-half{
  margin-right: 8px;
}
.ml-half{
  margin-left: 8px;
}
.mb-half{
  margin-bottom: 8px;
}
.mt-half{
  margin-top: 8px;
}