@import '_fonts.scss';
@import '_margins.scss';
@import './components/_form.scss';
@import './components/_buttons.scss';


*,
*::before,
*::after {
  box-sizing: border-box;
}

input, button {outline:none;}

html, body {
  height: 100%;
  margin: 0;
}

h2{
  font-size: 32px;
  line-height: 37px;
  margin: 0;
}

.lib-book-page{
  dd{
    margin-left: 0;
  }
}

.lib-link{
  opacity: .85;
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  line-height: 18px;
  display: inline-block;
  text-decoration: none;
  &:hover{
    opacity: .95;
  }
}

.animate-spin-scale {
  animation-name: spinScale;
  animation-duration: 1800ms;
  animation-timing-function: cubic-bezier(.785, .135, .15, .86);
}

.animate-infinite {
  animation-iteration-count: infinite;
}

.text-marked{
  background-color: white;
  position: relative;
  z-index: 20;
  &.yellow{
    background: yellow;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}


@keyframes spinScale{0%{transform:rotate(0) scale(1)}50%{transform:rotate(360deg) scale(.9)}100%{transform:rotate(720deg) scale(1)}}


