<template>
  <div class="container">
    <form
      class="lib-form__form"
      :class="{'form--pending' : formPending}"
      @submit.prevent="submit">
      <template v-if="headerErrorsText">
      <div v-for="(e, i) in headerErrorsText" :key="`err-${i}`"
        class="lib-form__error-head">
        <div v-for="(text, i) in e" :key="`err-text-${i}`">
          <svg class="lib-form__error-head-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" style="shape-rendering:geometricPrecision"><path fill-rule="evenodd" class="" fill="currentColor" d="M9.10048253,7.92285185 C9.10048253,8.55841334 8.60526539,9.07841821 8,9.07841821 C7.39473461,9.07841821 6.89951747,8.55841334 6.89951747,7.92285185 L6.89951747,4.45615277 C6.89951747,3.82059127 7.39473461,3.30058641 8,3.30058641 C8.60526539,3.30058641 9.10048253,3.82059127 9.10048253,4.45615277 L9.10048253,7.92285185 L9.10048253,7.92285185 L9.10048253,7.92285185 L9.10048253,7.92285185 L9.10048253,7.92285185 Z M8,12.5451173 C7.39473461,12.5451173 6.89951747,12.0251124 6.89951747,11.3895509 C6.89951747,10.7539894 7.39473461,10.2339846 8,10.2339846 C8.60526539,10.2339846 9.10048253,10.7539894 9.10048253,11.3895509 C9.10048253,12.0251124 8.60526539,12.5451173 8,12.5451173 L8,12.5451173 L8,12.5451173 L8,12.5451173 L8,12.5451173 L8,12.5451173 Z M15.8508424,13.1229005 L8.95301787,0.578072071 C8.5293321,-0.19269069 7.4706679,-0.19269069 7.04698213,0.578072071 L0.149157622,13.1229005 C-0.274528153,13.8936632 0.254803945,14.85625 1.10217549,14.85625 L14.8978245,14.85625 C15.7451961,14.85625 16.2745282,13.8936632 15.8508424,13.1229005 L15.8508424,13.1229005 L15.8508424,13.1229005 L15.8508424,13.1229005 L15.8508424,13.1229005 L15.8508424,13.1229005 Z"></path></svg>
          <span class="lib-form__error-head-text">
            {{ text }}
          </span>
        </div>
      </div>
      </template>
      <div class="lib-form">
        <div class="lib-form__header">
          <div class="lib-form__row">
            Новый аккаунт
            <div class="lib-form__header-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" style="shape-rendering:geometricPrecision" class="icon"><path fill-rule="evenodd" class="" fill="#ddd" d="M10,6.0000001 L10,5 C10,2.99999988 8.209,1 6,1 C3.791,1 2,2.97508333 2,5 L2,6.0000001 C1.44771525,6.0000001 1,6.45097524 1,6.99077799 L1,11.0092217 C1,11.5564132 1.4556644,11.9999996 1.99539757,11.9999996 L10.0046024,11.9999996 C10.5543453,11.9999996 11,11.5490245 11,11.0092217 L11,6.99077799 C11,6.44358647 10.546814,6.0000001 10,6.0000001 L10,6.0000001 Z M4,6 L8,6 L8,5 C8,5 8,3 6,3 C4,3 4,5 4,5 L4,6 L4,6 Z"></path></svg>
            </div>
          </div>
        </div>
        <div class="lib-form__body">
          <div class="lib-form__row">
            <div class="lib-form__row-title">
              Почта
            </div>
            <input
              class="lib-form__text-input"
              v-model.trim="email"
              @blur="touchedFields.email = true"
              type="email">
              <div 
                class="lib-form__error-text"
                v-if="formErrors.emailrequired">
                  {{ formErrors.emailrequired }}
              </div>
              <div 
                class="lib-form__error-text"
                v-if="formErrors.invalidEmail">
                  {{ formErrors.invalidEmail }}
              </div>
          </div>
          <div class="lib-form__row">
            <div class="lib-form__row-title">
              Пароль
            </div>
            <input
              class="lib-form__text-input"
              @blur="touchedFields.password = true"
              v-model="password"
              type="password">
            <div 
              class="lib-form__error-text"
              v-if="formErrors.passwordRequired">
                {{ formErrors.passwordRequired }}
            </div>
            <div
              class="lib-form__error-text"
              v-if="formErrors.passwordShort">
                {{ formErrors.passwordShort }}
            </div>
          </div>
          <div class="lib-form__row">
            <div class="lib-form__row-title">
              Повторите пароль
            </div>
            <input
              class="lib-form__text-input"
              @blur="touchedFields.repeatPassword = true"
              v-model="repeatPassword"
              type="password">
            <div 
              class="lib-form__error-text"
              v-if="formErrors.repeatPasswordRequired">
                {{ formErrors.repeatPasswordRequired }}
            </div>
            <div
              class="lib-form__error-text"
              v-else-if="formErrors.repeatPasswordNotSame">
                {{ formErrors.repeatPasswordNotSame }}
            </div>
          </div>
          <div class="lib-form__row">
            <button 
              class="lib-form__submit" 
              :class="{'disabled': submitBusy}"
              type="submit">
              <template v-if="formPending"> 
                 Загрузка...
              </template>
              <template v-else> 
                Зарегистрировать аккаунт
              </template>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>

import { required, minLength, email, sameAs } from 'vuelidate/lib/validators'
import errTexts from '../../const/FormErrors'
import { mapActions } from 'vuex'

export default {

  data() {
    return {
      email: '',
      password: '',
      repeatPassword: '',
      
      //Need for showing errors after the first blur on input
      touchedFields: {
        email: false,
        password: false,
        repeatPassword: false,
      },

      headerErrorsText: null,
      formPending: false,
    }
  },
  computed: {
    formErrors() {
      const errTextsObj = {};
      if (this.touchedFields.email) {
        if (!this.$v.email.required) errTextsObj.emailrequired = errTexts.required;
        if (!this.$v.email.email) errTextsObj.invalidEmail = errTexts.InvalidEmail;
      }

      if (this.touchedFields.password) {
        if (!this.$v.password.required) errTextsObj.passwordRequired = errTexts.required;
        if (!this.$v.password.minLength) errTextsObj.passwordShort = errTexts.passwordShort;
      }

      if (this.touchedFields.repeatPassword) {
        if (!this.$v.repeatPassword.required) errTextsObj.repeatPasswordRequired = errTexts.required;
        if (!this.$v.repeatPassword.sameAsPassword) errTextsObj.repeatPasswordNotSame = errTexts.passwordNotSame;
      }

      return errTextsObj;
    },
    submitBusy() {
      return this.formPending ||
            !this.email ||
            !this.password ||
            !this.repeatPassword ||
            Object.keys(this.formErrors).length > 0
    }
  },
  methods:{
    submit() {
      this.headerErrorsText = null;
      const errs = Object.keys(this.formErrors);
      if (errs.length) return

      const form = {
        email: this.email,
        password: this.password,
      }

      this.formPending = true;
      this.sendReg(form)
        .catch( e => {
        const errs = e.response.data.errors;
        if (errs) {
          
          this.headerErrorsText = errs
          this.formPending = false
        }
      }).then( () => {
        if (this.headerErrorsText) return;
        this.signIn(form).then(()=> {
          this.formPending = false
          this.$router.push({ path: '/' });
        })
      })
    },
    ...mapActions({
      sendReg: 'auth/newUser',
      signIn: 'auth/signIn',
    })
  },
  validations:{
    email:{
      required,
      email,
    },
    password:{
      minLength: minLength(6),
       required,
    },
    repeatPassword:{
      required,
      sameAsPassword: sameAs('password')
    }
  }
}
</script>

<style lang="scss" scoped>
  .container{
    padding-top: 100px;
  }
  .form--pending{
    pointer-events: none;
  }
</style>