<template>
  <div 
    class="lib-header"
    :class="{'lib-header--authenticated': authenticated}"> 
    <div class="container">
      <nav>
        <div class="left">
          <div class="item">
            <router-link to="/authors">
              Авторы
            </router-link>
          </div>
          <div class="item">
            <router-link to="/">
              Произведения
            </router-link>
          </div>
          <div class="item">
            <router-link to="/booktypes">
              Жанры
            </router-link>
          </div>
          <div class="item">
            <router-link to="/search">
              Поиск
            </router-link>
          </div>
          <div class="item">
            <router-link to="/about">
              О проекте
            </router-link>
          </div>
        </div>
        <div class="right">
          <template v-if="authenticated">
            <div class="item-profile">
              <div
                @click="showSubMenu"
                class="lib-dropdown">
                
                <img
                  class="item-profile item-profile-img" 
                  draggable="false"
                  v-if="avatar" 
                  :src="avatar">
                <img
                  v-else
                  draggable="false" 
                  class="item-profile item-profile-img" 
                  src="../../assets/user.png">
              </div>

              <div class="lib-dropdown-wrapper">
                <BaseSubMenu
                  v-show="profileMenuShowed">
                  <div slot="header">
                    {{ user.email }}
                  </div>
                  <div slot="body">
                    <router-link class="lib-sub-menu__item" to="/profile">
                      Профиль
                    </router-link>
                    <router-link class="lib-sub-menu__item" to="/savedquotes">
                      Сохраненные цитаты
                    </router-link>
                    <div
                      @click="onSignOut"
                      class="lib-sub-menu__item">
                      Выйти
                    </div>
                  </div>
                </BaseSubMenu>
              </div>
            </div>
          </template>
          <template v-else>
            <div class="item">
              <router-link to="/reg">
                Регистрация
              </router-link>
            </div>
            <div class="item">
              <router-link to="/login">
                Войти
              </router-link>
            </div>
          </template>
        </div>
      </nav>
    </div>
  </div>
  
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import BaseSubMenu from '../common/BaseSubMenu'
export default {
  components:{
    BaseSubMenu
  },
  computed:{
    ...mapGetters({
      'user': 'auth/user',
      'authenticated': 'auth/authenticated',
      'avatar': 'auth/avatar'
    })
  },
  data() {
    return {
      profileMenuShowed: false,
    }
  },
  methods:{
    ...mapActions({
      'signOut': 'auth/signOut'
    }),
    showSubMenu() {
      this.profileMenuShowed = true;
    },
    onSignOut() {
      this.signOut().then(() => {
        this.$router.push({ path: `/login`});
      })
    }
  },
  mounted() {
    const subMenuHandler = (e) => {
      const clickOnMenu = e.target.classList.contains('item-profile');
      if (clickOnMenu) return;
      this.profileMenuShowed = false;
    }
    document.body.addEventListener('click', subMenuHandler)
  }
}
</script>

<style lang="scss" scoped>
  .lib-header{
    background: #1283da;
    position: relative;
  }
  .container{

    padding-left: 15px;
    padding-right: 15px;
    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1950px;
      margin: 0 auto;
      margin-top: 22px;
    }
  }
  .left, .right{
    display: flex;
  }
  .lib-header--authenticated .right{
    position: absolute;
    right: 15px;
    height: 100%;
    top: 0;
    align-items: center;
  }
  .item{
    margin-right: 3px;
    cursor: pointer;
    font-size: 13px;
    a{
      padding-left: 16px;
      padding-right: 16px;
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-weight: 500;
      line-height: 18px;
      display: flex;
      align-items: center;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      background-color: rgba(0,0,0,0.1);
      height: 30px;
      opacity: .85;
      &:hover{
        background-color: rgba(0,0,0,0.05);
      }
      &.router-link-exact-active{
        opacity: 1;
        color: black;
        background-color: white;
      }
    }
  }
  .item-profile{
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    &-img{
      user-select: none;
      border-radius: 50%;
      &:hover{
        opacity: .85;
      }
    }
  }

  .lib-dropdown-wrapper{
    position: absolute;
    top:50px;
    right: 10px;
  }

</style>