<template>
  <div>
    <form
      v-if="editField"
      @submit.prevent="onSaveClick"
      class="prf-edit-area"
      :class="{'form--pending': formBusy}">
 
      <div class="prf-edit-area__title">
        {{ model.headtext }}
      </div>
      <div
        v-for="input in model.inputs"
        :key="input.title"
        class="prf-edit-area__row">
        <div class="prf-edit-area__inp-title">
          {{ input.title }}
        </div>
        <div>
          <input
            :value="input.dataRef"
            @blur="touchedFields[input.field] = true"
            @input="onInput(input.field, $event.target.value)"
            class="lib-form__text-input"
            :type="input.type">
            <div
              v-for="(text, i) in fieldsErrors[input.field]"
              :key="`edit-area-err-${i}`"
              class="lib-form__error-text">
                {{ text }}
            </div>
        </div>
      </div>
      
      <div class="prf-edit-area__controls">
        <div
          @click="onCancelClick"
          class="lib-btn-none-border">
          Отменить
        </div>
        <div
          @click="onSaveClick"
          class="lib-btn-blue-small ml"
          :class="{'disabled': formHasErrors}">
            <template v-if="formBusy">
              Загрузка
            </template>
            <template v-else>
              {{ model.saveButtonText }}
            </template>
        </div>
      </div>


    </form>

  </div>
</template>

<script>

import { required, minLength, email } from 'vuelidate/lib/validators'
import errTexts from '../../const/FormErrors'
import { mapActions } from 'vuex'


export default {
  props: {
    editField: {
      type: String,
      required: true,
    },
    userData:{
      type: [Object, Boolean],
      required: true,
    }
  },
  data() {
    return {
      name: this.userData.name,
      password: '',
      email: this.userData.email,
      passwordNew: '',

      formBusy: false,
      
      //Need for showing errors after the first blur on input
      touchedFields: {
        name: false,
        email: false,
        password: false,
        passwordNew: false,
      },
    }
  },
  watch:{
    editField() {
      this.name = this.userData.name;
      this.email = this.userData.email;
      this.setTouchedfields(false);
    }
  },
  computed: {
    model: {
      get() {
        const fieldsObj = {};

        switch(this.editField) {
          case 'name':
            fieldsObj.headtext = 'Изменить имя';
            fieldsObj.saveButtonText = 'Сохранить имя';
            fieldsObj.inputs = [
              {
                'title' : 'Новое имя', 
                'field' : 'name',
                'dataRef' : this.name,
                'type': 'text', 
              }
            ]
          break;
          case 'email':
            fieldsObj.headtext = 'Изменить почту';
            fieldsObj.saveButtonText = 'Сохранить почту';
            fieldsObj.inputs = [
              {
                'title' : 'Новая почта',
                'field' : 'email',
                'dataRef' : this.email,
                'type': 'email', 
              },
              {
                'title' : 'Пароль', 
                'field' : 'password',
                'dataRef' : this.password,
                'type': 'password', 
              },
            ]
          break;
          case 'password':
            fieldsObj.headtext = 'Изменить пароль';
            fieldsObj.saveButtonText = 'Сохранить пароль';
            fieldsObj.inputs = [
              {
                'title' : 'Новый пароль',
                'field' : 'passwordNew',
                'dataRef' : this.passwordNew,
                'type': 'password',
              },
              {
                'title' : 'Старый пароль',
                'field' : 'password',
                'dataRef' : this.password,
                'type': 'password',
              },
            ]
          break;
        }
        return fieldsObj;
      },
    },
    fieldsErrors() {

      const errors = {
        name: [],
        email: [],
        password: [],
        passwordNew: [],
      }


      switch(this.editField) {
        case 'name':
          if (this.touchedFields.name) {
            if (!this.$v.name.required) errors.name.push(errTexts.required);
          }
        break;
        case 'email':
          if (this.touchedFields.email) {
            if (!this.$v.email.required) errors.email.push(errTexts.required);
            if (!this.$v.email.email) errors.email.push(errTexts.InvalidEmail);
          }
           if (this.touchedFields.password) {
            if (!this.$v.password.minLength) errors.password.push(errTexts.passwordShort);
            if (!this.$v.password.required) errors.password.push(errTexts.required);
          }
        break;  
        case 'password':
          if (this.touchedFields.password) {
            if (!this.$v.password.minLength) errors.password.push(errTexts.passwordShort);
            if (!this.$v.password.required) errors.password.push(errTexts.required);
          }
          if (this.touchedFields.passwordNew) {
            if (!this.$v.passwordNew.minLength) errors.passwordNew.push(errTexts.passwordShort);
            if (!this.$v.passwordNew.required) errors.passwordNew.push(errTexts.required);
          }
        break;  
      }
      return errors;
    },
    formHasErrors() {
      const errs = Object.keys(this.fieldsErrors);
      let res;
      
      errs.forEach((item) => {
        if (this.fieldsErrors[item].length > 0) res = true
      })
      
      return res;
    }
  },
  methods: {
    ...mapActions({
      'updateUserProfile' : 'auth/updateUserProfile'
    }),
    onInput(field, val) {
      this[`${field}`] = val
      this.$v[`${field}`].$touch()
    },
    onCancelClick() {
      this.$emit('onCancel')
    },
    setTouchedfields(val) {
      for (let key in this.touchedFields) {
        this.touchedFields[key] = val;
      }
    },
    onSaveClick() {
      
      this.setTouchedfields(true);
      
      if (this.formHasErrors) return;
      const { email, password, name, passwordNew } = this;
      let data;
      switch(this.editField) {
        case 'name':
          data = {
            name
          }
        break;
        case 'email':
          data = {
            email,
            password
          }
        break;
        case 'password':
          data = {
            password,
            passwordNew
          }
        break;
      }

      this.formBusy = true;
      this.updateUserProfile(data).then(() => {
        this.formBusy = false;
      }).catch(e => {
        this.formBusy = false;
        alert(e.response.data.errors)
      })
    }
  },
  validations:{
    email:{
      required,
      email,
    },
    password:{
      minLength: minLength(6),
      required,
    },
    passwordNew:{
      minLength: minLength(6),
      required,
    },
    name: {
      required
    }
  }
}
</script>

<style lang="scss" scoped>
  .prf-edit-area{
    margin-top: 16px;
    padding-top:16px;
    max-width: 300px;
    &__title{
      line-height:21.6px;
      font-size:14.4px;
      margin-bottom:8px;
    }
    &__inp-title{
      color: rgb(51, 51, 51);
      font-size:11px;
      opacity: .75;
      line-height:16.5px;
      margin-bottom:4px;
    }
    &__row{
      margin-bottom: 8px;
    }
    &__cancel{
      font-size: 11px;
      line-height: 16px;
      opacity: .75;
    }
    &__save{
      color: rgb(51, 51, 51);
    }
    &__controls{
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
</style>