<template>
  <div>
    
    <input
      @change="onAvatarChange" 
      accept="image/x-png,image/gif,image/jpeg"
      type="file" id="lib-profile-avatar-input"
      ref="avatarInput"
      hidden>
    
    <div class="prf-creditionals">
      <div class="prf-creditionals__avatar">
        <label
          for="lib-profile-avatar-input"
          class="prf-creditionals__avatar-img"
          :style="avatarBg">

          <div
            v-show="avatarFetching"
            class="prf-creditionals__avatar-img--pending">
            <svg xmlns="http://www.w3.org/2000/svg" width="16.2" height="16.2" viewBox="0 0 54 54" class="prf-creditionals__preloader animate-spin-scale animate-infinite " style="shape-rendering: geometricprecision;"><g><path d="M10.9,48.6c-1.6-1.3-2-3.6-0.7-5.3c1.3-1.6,3.6-2.1,5.3-0.8c0.8,0.5,1.5,1.1,2.4,1.5c7.5,4.1,16.8,2.7,22.8-3.4c1.5-1.5,3.8-1.5,5.3,0c1.4,1.5,1.4,3.9,0,5.3c-8.4,8.5-21.4,10.6-31.8,4.8C13,50.1,11.9,49.3,10.9,48.6z" fill="white"></path><path d="M53.6,31.4c-0.3,2.1-2.3,3.5-4.4,3.2c-2.1-0.3-3.4-2.3-3.1-4.4c0.2-1.1,0.2-2.2,0.2-3.3c0-8.7-5.7-16.2-13.7-18.5c-2-0.5-3.2-2.7-2.6-4.7s2.6-3.2,4.7-2.6C46,4.4,53.9,14.9,53.9,27C53.9,28.5,53.8,30,53.6,31.4z" fill="white"></path><path d="M16.7,1.9c1.9-0.8,4.1,0.2,4.8,2.2s-0.2,4.2-2.1,5c-7.2,2.9-12,10-12,18.1c0,1.6,0.2,3.2,0.6,4.7c0.5,2-0.7,4.1-2.7,4.6c-2,0.5-4-0.7-4.5-2.8C0.3,31.5,0,29.3,0,27.1C0,15.8,6.7,5.9,16.7,1.9z" fill="white"></path></g></svg>
          </div>


          <img
            v-if="!avatar"
            src="../../assets/user.png" 
            alt="">

          <div class="prf-creditionals__avatar-edit-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" style="shape-rendering: geometricprecision;"><path fill-rule="evenodd" class="" fill="currentColor" d="M1.35735893,8.64264107 L6.64264107,3.35735893 C6.83951449,3.16048551 7.15597209,3.1558941 7.34837341,3.34819923 L8.65162659,4.65080077 C8.84306335,4.84214182 8.84000496,5.15902171 8.64264107,5.35641849 L3.35735893,10.6425815 C3.16048551,10.8394877 2.77404508,11 2.49531555,11 L1.50468445,11 C1.21403503,11 1,10.7740451 1,10.4953156 L1,9.50468445 C1,9.21403503 1.15999504,8.84000496 1.35735893,8.64264107 Z M8.34975147,1.65024853 L8.29462433,1.70537567 C8.68359375,1.31640625 9.31821654,1.31821654 9.71075654,1.71075654 L10.2892435,2.28924346 C10.6875,2.6875 10.6841926,3.31580745 10.2946243,3.70537567 L10.3497515,3.65024853 C10.15625,3.84375 9.84402791,3.84402791 9.65162659,3.65162659 L8.34837341,2.34837341 C8.15693665,2.15693665 8.15658907,1.84341093 8.34975147,1.65024853 Z"></path></svg>
          </div>
        </label>
      </div>
      <div class="prf-creditionals__info">
        <div
          @click="$emit('setCurrentEditField', 'name')"
          class="prf-creditionals__name">
          <div class="prf-creditionals__name-val">
            {{ user.name }}
          </div>
          <div
            class="prf-creditionals__edit">
            <svg class="prf-creditionals__edit-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" style="shape-rendering: geometricprecision;"><path fill-rule="evenodd" class="" fill="currentColor" d="M1.35735893,8.64264107 L6.64264107,3.35735893 C6.83951449,3.16048551 7.15597209,3.1558941 7.34837341,3.34819923 L8.65162659,4.65080077 C8.84306335,4.84214182 8.84000496,5.15902171 8.64264107,5.35641849 L3.35735893,10.6425815 C3.16048551,10.8394877 2.77404508,11 2.49531555,11 L1.50468445,11 C1.21403503,11 1,10.7740451 1,10.4953156 L1,9.50468445 C1,9.21403503 1.15999504,8.84000496 1.35735893,8.64264107 Z M8.34975147,1.65024853 L8.29462433,1.70537567 C8.68359375,1.31640625 9.31821654,1.31821654 9.71075654,1.71075654 L10.2892435,2.28924346 C10.6875,2.6875 10.6841926,3.31580745 10.2946243,3.70537567 L10.3497515,3.65024853 C10.15625,3.84375 9.84402791,3.84402791 9.65162659,3.65162659 L8.34837341,2.34837341 C8.15693665,2.15693665 8.15658907,1.84341093 8.34975147,1.65024853 Z"></path></svg>
            Изменить имя
          </div>
        </div>
        <div
          @click="$emit('setCurrentEditField', 'email')"
          class="prf-creditionals__email">
          <div class="prf-creditionals__email-val">
            {{ user.email }}
          </div>
          <div class="prf-creditionals__edit">
            <svg class="prf-creditionals__edit-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" style="shape-rendering: geometricprecision;"><path fill-rule="evenodd" class="" fill="currentColor" d="M1.35735893,8.64264107 L6.64264107,3.35735893 C6.83951449,3.16048551 7.15597209,3.1558941 7.34837341,3.34819923 L8.65162659,4.65080077 C8.84306335,4.84214182 8.84000496,5.15902171 8.64264107,5.35641849 L3.35735893,10.6425815 C3.16048551,10.8394877 2.77404508,11 2.49531555,11 L1.50468445,11 C1.21403503,11 1,10.7740451 1,10.4953156 L1,9.50468445 C1,9.21403503 1.15999504,8.84000496 1.35735893,8.64264107 Z M8.34975147,1.65024853 L8.29462433,1.70537567 C8.68359375,1.31640625 9.31821654,1.31821654 9.71075654,1.71075654 L10.2892435,2.28924346 C10.6875,2.6875 10.6841926,3.31580745 10.2946243,3.70537567 L10.3497515,3.65024853 C10.15625,3.84375 9.84402791,3.84402791 9.65162659,3.65162659 L8.34837341,2.34837341 C8.15693665,2.15693665 8.15658907,1.84341093 8.34975147,1.65024853 Z"></path></svg>
            Изменить почту 
          </div>
        </div>
        <div
          @click="$emit('setCurrentEditField', 'password')"
          class="prf-creditionals__update-password">
          Сменить пароль
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  computed:{
    ...mapGetters({
      'user': 'auth/user',
      'avatar' : 'auth/avatar',
    }),
    avatarBg() {
      return {
        'background-image': `url(${this.avatar})`
      }
    }
  },
  data() {
    return {
      avatarFetching: false,
    }
  },
  methods:{
    ...mapActions({
      'uploadAvatar' : 'auth/uploadAvatarFile'
    }),
    onAvatarChange() {
      const file = this.$refs.avatarInput.files[0];
      this.avatarFetching = true;
      this.uploadAvatar(file).then( () => {
        this.avatarFetching = false;
      }).catch((e)=>{
        console.log(e);
        alert('Обработка ошибок')
        this.avatarFetching = false;
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .prf-creditionals{
    display: flex;
    &__avatar{
      display: flex;
      
      border-radius: 100%;
      &-img{
        background-size: cover;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        cursor: pointer;
        &--pending{
          background-color: hsla(0,0%,0%,0.5);
          display: flex;
          align-items: center;
          justify-content: center;
          content: ' ';
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
          z-index: 99;
          border-radius: 100%;
        }
        img{
          width: 100%;
          border-radius: 50%;
          max-width: 80px;
          max-height: 80px;
        }
        &:hover{
          box-shadow: 0 0 0 10px hsla(0,0%,0%,0.05);
        }
        position: relative;
      }
    }
    &__avatar-edit-icon{
      position: absolute;
      width: 20px;
      height: 20px;
      bottom: 3px;
      right: 0px;
      background-color: hsl(0,0%,100%);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__info{
      padding-left: 16px;
      padding-top: 4px;
    }
    &__email{
      &:hover{
        opacity: .7;
        cursor: pointer;
      }
      line-height: 19px;
      display: flex;
      &-val{
        margin-right: 16px;
        font-size: 14px;
      }
    }
    &__name{
      display: flex;
      margin-bottom: 6px;
      line-height: 19px;
      &:hover{
        opacity: .7;
        cursor: pointer;
      }
      &-val{
        font-size: 16px;
        font-weight: 500;
        margin-right: 16px;
      }
    }
    &__edit{
      font-size: 11px;
      color: hsl(0,0%,20%);
      opacity: .5;
      cursor: pointer;
      display: flex;
      align-items: center;
      &-icon{
        margin-right: 4px;
      }
    }
    &__update-password{
      line-height: 19px;
      margin-top: 8px;
      color: #2d7ff9;
      cursor: pointer;
      &:hover{
        color: rgb(39, 80, 174);
      }
    }
  }
</style>