<template>
  <div
    class="lib-search-main"
    id="libsearch-app-root">
    <Header />
    <Content>
        <router-view />
    </Content>
  </div>
</template>

<script>
import Header from '@/components/layout/Header'
import Content from '@/components/layout/Content'

export default {
  components:{
    Header,
    Content,
  }
}
</script>

<style lang="scss" scoped>
  .lib-search-main{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
</style>