.lib-btn-blue-small{
  background-color:rgb(45, 127, 249);
  border-radius: 6px;
  color: white;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 12px;
  line-height: 19.2px;
  &:hover{
    background-color: #2750ae;
  }
  &.disabled {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(16, 16, 16, 0.3);
    cursor: default;
    opacity: 1 !important;
    pointer-events: none;
  }
}

.lib-btn-none-border{
  font-size: 11px;
  line-height: 16px;
  opacity: .75;
  color: rgb(51, 51, 51);
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
}