.lib-form{
  padding: 32px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  &__form{
    max-width: 380px;
    margin: auto;
  }
  &__row{
    margin-bottom: 16px;
  }
  &__row-title{
    font-size: 13px;
    color: hsl(0,0%,20%);
  }
  &__text-input{
    min-height: 32px;
    color: #444;
    width: 100%;
    padding: 8px;
    border-color: rgba(0,0,0,0);
    border-radius: 6px;
    background-color: hsla(0,0%,0%,0.05);
    &:active, &:focus{
      border-color: rgba(0,0,0,0.25);
    }
  }
  &__header{
    font-size: 16px;
    line-height: 17px;
    color: hsl(0,0%,20%);
    .lib-form__row{
      display: flex;
      justify-content: space-between;
    }
  }
  &__submit{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-color: rgba(0,0,0,0);
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    background: #2d7ff9;
    color: white;
    &:hover{
      opacity: .90;
    }
    &.disabled {
      background-color: rgba(0, 0, 0, 0.05);
      color: rgba(16, 16, 16, 0.3);
      cursor: default;
      opacity: 1 !important;
      pointer-events: none;
    }
  }
  &__error-head{
    background-color: rgb(248, 43, 96);
    color: rgb(255, 255, 255);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 11px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    &-text{
      opacity: .75;
    }
    &-icon{
      margin-right: 5px;
      position: relative;
      top:2px;
    }
  }
  &__error-text {
    color: #f82b60;
    font-size: 11px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 13px;
  }
  &__header-forgot-pass{
    color: hsl(0,0%,20%);
    opacity: .75;
    padding-bottom: 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    font-size: 11px;
    line-height: 13px;
    text-decoration: none;
    &:hover{
      border-color: rgb(51, 51, 51);;
    }
  }
}

.form--pending{
  pointer-events: none;
  opacity: .75;
}