<template>
  <div>
    <input
      class="search-panel__input"
      type="search"
      :value="localSearchQuery"
      @keydown.enter="onInput($event.target.value)">
  </div>
</template>

<script>
export default {
  props: {
    searchQuery:{
      type: String,
      required: true,
    }
  },
  data() {
    return {
      localSearchQuery: this.searchQuery,
    }
  },
  methods: {
    onInput(v) {
      if (!v.trim()) return;
      let eventName = 'onChangeValue';
      if (this.searchQuery == v) eventName = 'goToNextMatch';
      this.$emit(eventName, v);
    }
  },
}
</script>

<style lang="scss">
  .search-panel__input{
    border-radius: 8px;
    border: 1px solid #dde1e3;
    margin-left: 9px;
    padding: 4px;
    margin-right: 9px;
  }
</style>