<template>
  <div class="lb-pagination">
    <span
      @click="onPageClick(p)"
      v-for="p in paginationArr" 
      :key="p"
      :class="{'lb-pagination__dots': p == '...', 'active': p == currentPage}"
      class="lb-pagination__link">{{p}}</span>
  </div>
</template>

<script>
export default {
  props: {
    pagesCount: {
      type: Number,
      required: true,
    },
    currentPage: {
      type: Number,
      required: true,
    },
    pages: {
      type: Number,
      default: 30,
    }
  },
  computed: {
    paginationArr() {
    
      let dotsRight, dotsLeft = false;
      const pagesOnSidesCount = this.pages / 2;
      let rightPagesCount = pagesOnSidesCount;
      let lastRightPageNum = pagesOnSidesCount + this.currentPage;
      if (lastRightPageNum > this.pagesCount) {
        const diff = lastRightPageNum - this.pagesCount;
        rightPagesCount = pagesOnSidesCount - Math.abs(diff);
      } else {
        dotsRight = true;
      }

      let leftPagesCount = pagesOnSidesCount;
      let lastLeftPageNum = this.currentPage - pagesOnSidesCount;
      if (lastLeftPageNum < 1) {
        leftPagesCount = this.currentPage - 1;
      } else {
        dotsLeft = true
      }


      const pageNumStart = this.currentPage - leftPagesCount;
      const pageNumEnd = this.currentPage + rightPagesCount;
      const paginationArr = [];
      
      if (dotsLeft) {
        paginationArr.push(1);
        paginationArr.push('...')
      }


      for (let i = pageNumStart; i <= pageNumEnd; i++) {
        paginationArr.push(i);
      }

      if (dotsRight) {
        paginationArr.push('...');
        paginationArr.push(this.pagesCount);
      }

      return paginationArr;
    },
  },
  methods:{
    onPageClick(i) {
      this.$emit('onPageChange', i);
    }
  }
}
</script>

<style lang="scss" scoped>
  .lb-pagination{
    padding-right: 25px;
    padding-left: 25px;
    display: flex;
    &__dots{
      pointer-events: none;
    }
    &__link{
      font-weight: 600;
      padding-right: 10px;
      padding-left: 10px;
      cursor: pointer;
      transition: .2s;
      line-height: 18px;
      
      &:first-of-type{
        margin-left: -10px;
      }
      &.active{
        color: #8f0038;
        &:hover{
          cursor: default;
        }
      }
      &:hover{
        color: #8f0038;
      }
    }
  }

</style>