<template>
  <div class="search-panel">
      <span class="search-panel__count">Совпадений: {{ matchesTotal }}</span>
      <span
        class="search-panel__prev"
        @click="onSetMatchCurrentIndexClick(matchCurrentIndex - 1)">
          <img src="../../assets/arrow.svg" alt="">
        </span>
        <span 
          class="search-panel__next" 
          @click="onSetMatchCurrentIndexClick(matchCurrentIndex + 1)">
          <img src="../../assets/arrow.svg" alt="">
      </span> 
      <BaseTextSearchPanelInput 
        :searchQuery="searchQuery"
        @onChangeValue="onInput"
        @goToNextMatch="onSetMatchCurrentIndexClick(matchCurrentIndex + 1)"
      />
     <br>
      
      <!-- <span class="search-panel__current" > {{ matchCurrentIndex }} </span> -->
  </div>  
</template>

<script>
import { mapMutations, mapGetters, mapActions } from 'vuex'
import BaseTextSearchPanelInput from '@/components/common/BaseTextSearchPanelInput';

export default {
  components:{
    BaseTextSearchPanelInput,
  },
  computed: {
    ...mapGetters({
      'matchCurrentIndex': 'pageBook/matchCurrentIndex',
      'bookHtml': 'pageBook/bookHtml',
      'matchesTotal': 'pageBook/matchesTotal',
      'searchQuery': 'pageBook/searchQuery',
    })
  },
  methods:{
    ...mapMutations({
      'setSearchValue': 'pageBook/SET_SEARCH_PANEL_VALUE',
    }),
    ...mapActions({
      'onSetsearchValue': 'pageBook/onSetSearchValue',
      'onSetMatchCurrentIndex': 'pageBook/onSetMatchCurrentIndex',
    }),
    onInput(v) {

      this.onSetsearchValue(v);
    },
    onSetMatchCurrentIndexClick(v) {
      let value = v;
      if (value <= 0) value = this.matchesTotal; 
      if (value > this.matchesTotal) value = 1;
      this.onSetMatchCurrentIndex(value);
    }
  }
}
</script>

<style lang="scss" scoped>
  .search-panel{
    background-color: #f5f5f5;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 50;
    &__count{
      font-size: 13px;
      margin-right: 8px;
    }
    &__next, &__prev{
      border: 1px solid #cbced0;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      img{
        width: 11px;
      }
    }
    &__next{
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      border-left: none;
    }
    &__prev{
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      img{
        transform: rotate(180deg);
      }
    }
  }
</style>