<template>
  <div class="lb-base-search">
    <input
      :value="searchString"
      @input="onSearchStringChange($event.target.value)"
      class="lb-base-search__input"
      placeholder="Type here..."
      aria-label="Search">
  </div>
</template>

<script>
export default {
  props: {

  },
  data() {
    return {
      timerId: null,
    }
  },
  methods: {
    onSearchStringChange(v) {
      clearTimeout(this.timerId);
      this.timerId = setTimeout(() => {
        this.$store.commit('setSearchString', v);
      }, 350)
    }
  },
  computed: {
    searchString() {
      return this.$store.state.tableStore.searchString;
    }
  },
}
</script>

<style lang="scss">
  .lb-base-search{
    &__input{
      border: 1px solid #C1C1C1;
      border-radius: 6px;
      height: 35px;
      padding-left: 10px;
    }
  }
</style>