<template>
  <div class="container">
    <div
      v-for="l in alphabet"
      :key="l">
      <span
        @click="onAlpabetClick(l)"
        :class="{'letter--active': isCurrentLetter(l)}"
        class="letter">
         {{ l }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    currentLetter: {
      type: [String, Boolean],
    }
  },
  data() {
    return {
      alphabet: ['Все', 'А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ё', 'Ж', 'З', 'И', 'Й', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Щ', 'Э', 'Ю', 'Я']
    }
  },
  methods:{
    onAlpabetClick(letter) {
      this.$emit('setCurrentLetter', letter)
    },
    isCurrentLetter(l) {
      return l == this.currentLetter;
    }
  }
}
</script>

<style lang="scss" scoped>
  .container{
    display: flex;
    padding: 6px;
    justify-content: center;
  }
  .letter{
    opacity: .75;
    cursor: pointer;
    margin-right: 1rem;
    font-size: 14px;
    user-select: none;
    &--active{
      border-bottom: 2px solid black;
      cursor: default;
      pointer-events: none;
    }
    &:hover{
      opacity: .85;
    }
  }
</style>