<template>
  <div class="lib-sub-menu">
    <div class="lib-sub-menu__header">
      <div class="lib-sub-menu__header-content">
        <slot name="header"></slot>
      </div>
    </div>
    <div class="lib-sub-menu__body">
      <slot name="body"></slot>
    </div>
  </div>
</template>

<script>
export default {
  
}
</script>

<style lang="scss" scoped>
  .lib-sub-menu{
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
    font-size: 13px;
    position: relative;
    z-index: 99;
    background: white;
    border-radius: 3px;
    a {
      white-space: nowrap;
      width: 100%;
      color:inherit;
      text-decoration: none;
    }
    &__item{
      color: #333333;
      opacity: .75;
      display: flex;
      padding: 8px;
      border-radius: 3px;
      &:hover{
        background: rgba(128, 128, 128, 0.1);
      }
    }
    &__body {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 16px;
      padding-left: 16px;
    }
    &__header{
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 16px;
      padding-left: 16px;
      &-content{
        border-bottom: 2px solid rgba(0,0,0,0.1);
      }
    }
  }
</style>