<template>
  <div class="lb-base-table lb-base-table--3-column">
    <div class="lb-base-table__head">
      <div 
        class="lb-base-table__head-cells"
        :style="cellsStyle">
        <div class="lb-base-table__cell">
          ID
        </div>
        <div class="lb-base-table__cell">
          Имя
        </div>
      </div>
    </div>

    <div ref="tBody" class="lb-base-table__body">
      <RecycleScroller
        v-show="fetchingStatus == fStats.ready"
        class="scroller"
        :items="tableData"
        :item-size="28"
        :emitUpdate="true"
        key-field="id"
        v-slot="{ item }"
        @update="test"
      >      
      
        <div class="lb-base-table__row">
          <span class="lb-base-table__cell" v-for="(c ,i) in Object.keys(displayColumns)" :key="i">
            <span
              @click="onClickHandler(displayColumns[c].onClick, item)"
              class="lb-base-table__link">
              {{item[c]}}
            </span>
          </span>
        </div>
      </RecycleScroller>

          
      <div v-show="fetchingStatus == fStats.fetching">
          <Preloader />
      </div>
    </div>
  </div>
</template>

<script>
import 'vue-virtual-scroller/dist/vue-virtual-scroller.css'
import { RecycleScroller } from 'vue-virtual-scroller'
import Preloader from '@/components/common/Preloader.vue'
import fStats from '../../const/FetchStatus'
import { getScrollBarWidth, elementHasScroll } from '../../utils/fns'
export default {
  props: {
    displayColumns: {
      type: Object,
      default: () => ['id', 'name'],
    },
    detailPageUrlPrefix: {
      type: String,
    },
    onColumnClick: {
      type: [Object, Boolean],
      default: false,
    },
    actions: {
      type: [Array, Boolean],
      default: false,
    },
    tableData: {
      type: [Array, Boolean],
      required: true,
    },
    fetchingStatus: {
      type: String,
      default: () => 'ready',
    }
  },
  components: {
    RecycleScroller,
    Preloader,
  },
  data() {
    return {
      fStats,
      scrollBarWidth: getScrollBarWidth(),
      tBodyHasScroll: null,
    }
  },
  computed: {
    cellsStyle() {
      if (!this.tBodyHasScroll) return null;

      return {
        marginRight: `${this.scrollBarWidth}px`
      }
    }
  },
  methods: {
    onClickHandler(fn, item) {
      if (fn) {
        fn.call(this, item)
      }
    },
    test() {
      const el = this.$refs.tBody.querySelector('.vue-recycle-scroller')
      const res = elementHasScroll(el);
      this.tBodyHasScroll = res;
    }
  },
  mounted() {

  }
  // computed: {
  //   ...mapGetters([
  //     'tableData'
  //   ])
  // },
}
</script>

<style lang="scss">
.scroller {
  height: 100%;
}

.lb-base-table{
  color: #333333;
  &--3-column{
    .lb-base-table__cell{
      width: 33.33%;
    }
  }
  &__cell{
    flex-grow: 1;
    overflow: hidden;
    list-style: none;
    font-size: 13px;
    padding: 6px;
    border-right: 1px solid hsl(202,10%,88%);
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    &:first-of-type{
      padding-left: 15px;
    }
    &:last-of-type{
      border-right: none;
    }
  }
  &__head{
    font-size: 13px;
    border-bottom: 1px solid hsl(0,0%,82%);
    border-top: 2px solid hsl(202,10%,88%);
    background-color: #f5f5f5;
    &-cells{
      display: flex;
    }
  }
  &__body{
    height: calc(100vh - 120px);
  }
  &__content{

  }
  &__row{
    display: flex;
    position: relative;
    top: -1px; //coz of virtual scroller cuts border-bottom of las row
    border-bottom: 1px solid hsl(202,10%,88%);
  }
  &__td{

  }
  &__link{

  }
  &__actions{

  }
}
</style>