<template>
  <div class="progress">
      <div class="progress-bar" role="progressbar" :style="styleObj" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{completePrecentage}}%</div>
  </div>
</template>

<script>
export default {
  props: {
    completePrecentage: {
      type: Number,
      required: true,
    }
  },
  computed: {
    styleObj() {
      const obj = {};
      obj.width = this.completePrecentage + '%';
      return obj;
    }
  }
}
</script>