<template>
  <div class="quote-saver">
    <div class="quote-saver-panel">
      <div 
        @click.stop="onSaveQuoteClick"
        class="item lib-btn-blue-small">
        Сохранить цитату
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods:{
    onSaveQuoteClick() {
      this.$emit('onSaveQuote');
    },
  },
}
</script>

<style lang="scss" scoped>
  .quote-saver{
    display: inline-block;
  }
  .item{
    padding: 4px 8px;
  }
</style>